<!DOCTYPE html>
<html>
	<head>
		<title>About Us-The Cheng Foundation</title>
		<!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/> -->
		<link href="styles/main.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato|PT+Serif" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet">
		<script src="https://use.fontawesome.com/ebaf6b7b9f.js"></script>
	</head>
	<body class="big_top">
		<header>
				<div class = "container">
					<nav class="navbar navbar-default navbar-fixed-top">
					<div class="container-fluid">
					    <!-- Brand and toggle get grouped for better mobile display -->
					  	<!-- Overall NavBar set up stuff below  -->   
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					      <!--Navbar heading for the foundtion -->
					      <a class="navbar-brand" href="index.html">
					      	<img class= "title" src="images/Title.png" alt="Cheng Foundation">	
					      </a>
					    </div>
					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <!-- Left aligned links -->
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					      <ul class="nav navbar-nav">
					        <li><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
					        <li class="active"><a href="aboutus.html">About Us</a></li>
					        <li><a href="ourwork.html">Our Work</a></li>
					        <li><a href="properties.html">Properties</a></li>
					        <li><a href="donations.html">Donations</a></li>
					        <li><a href="accepteddonations.html">Accepted Donations</a></li>
					        <li><a href="testimonials.html">Testimonials</a></li>
					      </ul>
					      <!-- Right aligned links -->
					      <ul class="nav navbar-nav navbar-right">
						    <li>
					        	<a class="btn btn-social-icon btn-facebook btn-lg" href="https://www.facebook.com/bryce.cheng.1" target="_blank">
		   							<span class="fa fa-facebook"></span>
		  						</a>
		  					</li>
		  					<li>
					        	<a class="btn btn-social-icon btn-twitter btn-lg" href="https://twitter.com/bryce_cheng" target="_blank">
		   							<span class="fa fa-twitter"></span>
		  						</a>
		  					</li>
		  					<li>
					        	<a class="btn btn-social-icon btn-instagram btn-lg" href="https://www.instagram.com/b_ryce_cheng/" target="_blank">
		   							<span class="fa fa-instagram"></span>
		  						</a>
		  					</li>
		  					<li>
					        	<a class="btn btn-social-icon btn-google btn-lg" href="https://plus.google.com/111061049653291785131" target="_blank">
		  							<span class="fa fa-google"></span>
		  						</a>
		  					</li>
					        <li><a href="contactus.html">Contact Us</a></li>
					      </ul>
					    </div><!-- /.navbar-collapse -->
					  </div><!-- /.container-fluid -->
					</nav>
				</div>
		</header>
		<h1 class="imp_text cent_text pg_head"><strong>About Us</strong></h1>
		<h4 class="cent_text"> The Cheng Foundation is run by both <strong>Bryce</strong> and <strong>Darrell</strong> Cheng, the Foundation presidents. Brief descriptions of each co-president are available below.</h4> 
		<div class="panel panel-default col-lg-8 col-lg-offset-2">
			<div class="panel-heading">
		  		<h3 class = "panel-title cent_text">Bryce Cheng</h3>
		 	</div>
			<div class="panel-body">
		    	<img class="img-responsive center-block" src = "images/Bry_Close_Hori.jpg">
		  		<p class = "cent_text big_print"><strong>Childhood</strong></p> 
				<p>At an early age, Bryce Cheng was tasked with the heavy burden of upholding the prestigious
				Cheng Dynasty's legacy. As the oldest of the "twin dragons," Bryce was tasked with "making the Cheng
				Family great again" in the then foreign continent of North America. Alongside his younger brother,
				Darrell, Bryce underwent integral training at the University of Washington Academy for Young Scholars to
				acquire the skills necessary to survive in the brutal capitalist world of the United States.</p>
				<p class = "cent_text big_print"><strong>Rice to Greatness</strong></p> 
				<p>After receiving a "small" loan of 500-million dollars from the Cheng family fortune,

				Bryce established a strong foothold in the American economy by investing in construction through his

				newfound company, The Cheng Organization. Through The Cheng Organization, Bryce monopolized the market

				for construction and property development (twice running Donald Trump bankrupt). In addition, Bryce

				was able to curb downsizing through lobbying the U.S. government with his now 50-billion dollar net worth.</p>
				<p class = "cent_text big_print"><strong>Enlightenment and Future Investment in Philanthropy</strong></p>
				<p>After monopolizing the construction market through his trademark aggressive negotiating strategy, Bryce Cheng was now a leading figure in the

				American business world earning himself a position at the top of the Fortune 500. However, Cheng was haunted by the

				effects of his success in the construction market after witnessing the countless competitors that lay

				bankrupt as a result of his rise. In order to cope with his burdensome guilt, Bryce Cheng, with the help of Darrel Cheng 
				(CEO of Cheng Consolidated Entertainment Facilities), merged to found the Cheng Foundation.</p>

		  	</div>
		</div>
		<div class="panel panel-default col-lg-8 col-lg-offset-2 med_pad_bot">
		 	<div class="panel-heading">
		    	<h3 class="panel-title cent_text">Darrell Cheng</h3>
		 	</div>
		 	<div class="panel-body">
		    	<img class="img-responsive center-block" src = "images/Dar_Hori.jpg" alt="Darrell Cheng">
		 		<p class = "cent_text big_print"><strong>Childhood</strong></p> 
		  		<p>During his childhood, Darrell Cheng was constantly neglected by his parents due to being the younger

				child. This constant neglect during his childhood years prompted Darrell to train intensively in order to one

				day surpass his brother, Bryce. As the other half of the "Twin Dragons," Darrell went to the University of

				Washington Academy for Young Scholars in order to gain the skills necessary to survive in a high-stakes business environment.</p>
				<p class = "cent_text big_print"><strong>Rice to Greatness</strong></p> 
				<p>After graduating from the University of Washington Academy for Young Scholars, Cheng

				established a strong foothold in the entertainment business by constructing a slew of high-end night

				clubs in government-designated brownfields, lands previously considered "lost" due to excessive human

				abuse. By doing so, Cheng won the Nobel Peace Prize in 2014 for the effective reclamation of

				brownfields. In addition, Darrell was able to establish a monopoly in the entertainment business by

				suing other companies on grounds of excessive contamination of the environment. As a result, the company,

				"Cheng Consolidated Entertainment Facilities" was born.</p>
				<p class = "cent_text big_print"><strong>Enlightenment and Future Investment in Philanthropy</strong></p>
				<p>At the epitome of his success, Cheng was described

				as an ignorant and inconsiderate playboy. However, this all changed when Darrell's yacht, the Verdant

				Legacy, capsized during a storm. Cheng later spent five months on the distant island of Lien Choy. Not

				much is known about his five month excursion, but Darrell proclaimed himself a changed man after

				he was rescued by Indonesian fisherman. In order to atone for his past actions as the playboy leach of the

				Cheng Family, Darrell co-founded the Cheng foundation with his older brother, Bryce.</p>
		 	</div>
		</div>
		<footer class="footer">
			<div class="container">
				<h5 class="cent_text no_pad">Created by Pranav Sriram | The Cheng Foundation Copyright 2017: <a href="index.html"> ChengFoundation.us </a></h5>
			</div> 
		</footer>
	</body>
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>
