<!DOCTYPE html>
<html>
	<head>
		<title>Cheng Foundation Official Website</title>
		<meta name="google-site-verification" content="MHZuXCUmVLMbnEuXnE2MK9ElNqZ1QDSfzJ5HV-WBKn8"/>
		<!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/> -->
		<link href="styles/main.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato|PT+Serif" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet">
		<script src="https://use.fontawesome.com/ebaf6b7b9f.js"></script>
	</head>
	<body class="big_top">
		<header>
			<div class = "container">
				<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
				    <!-- Brand and toggle get grouped for better mobile display -->
				  	<!-- Overall NavBar set up stuff below  -->   
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <!--Navbar heading for the foundtion -->
				      <a class="navbar-brand" href="index.html">
				      	<img class= "title" src="images/Title.png" alt="Cheng Foundation">	
				      </a>
				    </div>
				    <!-- Collect the nav links, forms, and other content for toggling -->
				    <!-- Left aligned links -->
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav">
				        <li class="active"><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
				        <li><a href="aboutus.html">About Us</a></li>
				        <li><a href="ourwork.html">Our Work</a></li>
				        <li><a href="properties.html">Properties</a></li>
				        <li><a href="donations.html">Donations</a></li>
				        <li><a href="accepteddonations.html">Accepted Donations</a></li>
				        <li><a href="testimonials.html">Testimonials</a></li>
				      </ul>
				      <!-- Right aligned links -->
				      <ul class="nav navbar-nav navbar-right">
				      	<li>
				        	<a class="btn btn-social-icon btn-facebook btn-lg" href="https://www.facebook.com/bryce.cheng.1" target="_blank">
	   							<span class="fa fa-facebook"></span>
	  						</a>
	  					</li>
	  					<li>
				        	<a class="btn btn-social-icon btn-twitter btn-lg" href="https://twitter.com/bryce_cheng" target="_blank">
	   							<span class="fa fa-twitter"></span>
	  						</a>
	  					</li>
	  					<li>
				        	<a class="btn btn-social-icon btn-instagram btn-lg" href="https://www.instagram.com/b_ryce_cheng/" target="_blank">
	   							<span class="fa fa-instagram"></span>
	  						</a>
	  					</li>
	  					<li>
				        	<a class="btn btn-social-icon btn-google btn-lg" href="https://plus.google.com/111061049653291785131" target="_blank">
	  							<span class="fa fa-google"></span>
	  						</a>
	  					</li>
				        <li><a href="contactus.html">Contact Us</a></li>
				      </ul>
				    </div><!-- /.navbar-collapse -->
				  </div><!-- /.container-fluid -->
				</nav>
			</div>
		</header>
		<div id="theCarousel" class="carousel slide" data-ride="carousel">
		  <!-- Define how many slides to put in the carousel, order list containing this, plus connects pack to carousel class-->
		  <ol class="carousel-indicators">
		    <li data-target="#theCarousel" data-slide-to="0" class="active"> </li >
		    <li data-target="#theCarousel" data-slide-to="1"> </li>
		    <li data-target="#theCarousel" data-slide-to="2"></li>
		  </ol>
		  <!-- Define the text to place over the image, ordered list w/ captions + buttons-->
			<div class="carousel-inner">
			    <div class="item active">
				    <div class ="slide1">
						<img class="slide_image" src="images/Island.jpg" alt="Island">
						<div class="carousel-caption">
							<p class="fine_print read_col">The Cheng Islandic Properties</p>
							<p><a href="properties.html" class="btn btn-primary btn-sm">Learn more about our various properties</a></p>
						</div>
				  	</div>
				</div>
			  	<div class="item">
				  	<div class="slide2">
				    	<img class="slide_image" src="images/palm_island.jpg" alt="Building">
				    	<div class="carousel-caption">
				      		<p class="fine_print read_col">The Cheng Construction Fund</p>
				      		<p><a href="aboutus.html" class="btn btn-primary btn-sm">Learn more about our vision</a></p>
				    	</div>
			  		</div>
				</div>
				<div class="item">
					<div class="slide3">
				  		<img class="slide_image" src="images/Cheng_Ski_Hori.PNG" alt="Mountain">
				  		<div class="carousel-caption">
				    		<p class="fine_print read_col">The Cheng Foundation Mountainous Development Program</p>
				    		<p><a href="ourwork.html" class="btn btn-primary btn-sm">Learn more about our programs</a></p>
				  		</div>
					</div>
			</div>
			  <!-- Set the actions to take when the arrows are clicked -->
				  <a class="left carousel-control" href="#theCarousel" data-slide="prev">
				  	<span class="glyphicon glyphicon-chevron-left"> </span>
				  </a>
				  <a class="right carousel-control" href="#theCarousel" data-slide="next">
				  	<span class="glyphicon glyphicon-chevron-right"></span>
				  </a>
			</div>
		</div>
		<div class="container">
			<div class="jumbotron gold_jumbotron">
			 	<h1 class="imp_text pg_head">The Cheng Foundation</h1>
			  	<p class="cent_text">The Cheng Foundation's lifelong mission is to use the Cheng Family's resources 
			  	to help support the less fortunate members of our local communities.
			  	</p>
			  	<div class = "cent_text">
			  		<p><a class="btn btn-primary btn-lg" href="donations.html" role="button">Apply for a donation through the Cheng Grant Organization</a></p>
			  	</div>
			</div>
		</div>

		<footer class="footer">
			<div class="container">
				<h5 class="cent_text no_pad">Created by Pranav Sriram | The Cheng Foundation Copyright 2017: <a href="index.html"> ChengFoundation.us </a></h5>
			</div> 
		</footer>
	</body>
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>
