<!DOCTYPE html>
<html>
	<head>
			<title>Our Work-The Cheng Foundation</title>
			<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
			<link href="styles/main.css" rel="stylesheet">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
			<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Lato|PT+Serif" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet">
			<script src="https://use.fontawesome.com/ebaf6b7b9f.js"></script>
	</head>
	<body class="big_top">
		<header>
				<div class = "container">
					<nav class="navbar navbar-default navbar-fixed-top">
					<div class="container-fluid">
					    <!-- Brand and toggle get grouped for better mobile display -->
					  	<!-- Overall NavBar set up stuff below  -->   
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					      <!--Navbar heading for the foundtion -->
					      <a class="navbar-brand" href="index.html">
					      	<img class= "title" src="images/Title.png" alt="Cheng Foundation">
					      </a>
					    </div>
					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <!-- Left aligned links -->
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					      <ul class="nav navbar-nav">
					        <li><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
					        <li ><a href="aboutus.html">About Us</a></li>
					        <li class = "active"><a href="ourwork.html">Our Work</a></li>
					        <li><a href="properties.html">Properties</a></li>
					        <li><a href="donations.html">Donations</a></li>
					        <li><a href="accepteddonations.html">Accepted Donations</a></li>
					        <li><a href="testimonials.html">Testimonials</a></li>
					      </ul>
					      <!-- Right aligned links -->
					      <ul class="nav navbar-nav navbar-right">
						    <li>
					        	<a class="btn btn-social-icon btn-facebook btn-lg" href="https://www.facebook.com/bryce.cheng.1" target="_blank">
		   							<span class="fa fa-facebook"></span>
		  						</a>
		  					</li>
		  					<li>
					        	<a class="btn btn-social-icon btn-twitter btn-lg" href="https://twitter.com/bryce_cheng" target="_blank">
		   							<span class="fa fa-twitter"></span>
		  						</a>
		  					</li>
		  					<li>
					        	<a class="btn btn-social-icon btn-instagram btn-lg" href="https://www.instagram.com/b_ryce_cheng/" target="_blank">
		   							<span class="fa fa-instagram"></span>
		  						</a>
		  					</li>
		  					<li>
					        	<a class="btn btn-social-icon btn-google btn-lg" href="https://plus.google.com/111061049653291785131" target="_blank">
		  							<span class="fa fa-google"></span>
		  						</a>
		  					</li>
					        <li><a href="contactus.html">Contact Us</a></li>
					      </ul>
					    </div><!-- /.navbar-collapse -->
					  </div><!-- /.container-fluid -->
					</nav>
				</div>
		</header>
		<h1 class="imp_text cent_text pg_head"><strong>Our Work</strong></h1>
		<h4 class="cent_text">Here's some in-depth information about a few of our various projects here at the Cheng Foundation.</h4> 
		<div class="container">
			<div class="jumbotron grey_jumbotron">
			 	<h1 class="imp_text">The CII Project</h1>
			  	<p>The CII (Cultural Immigration and Integration) Project is the newest Cheng Foundation venture, through which the organization strives to increase cultural awareness.</p>
			  	<div class = "cent_text">
			  		<p><a class="btn btn-primary btn-lg" href="https://kb.construction-institute.org/" role="button" target="_blank">Join the CII Project</a></p>
			  	</div>
			</div>
		</div>	
		<div class="container">
			<div class="jumbotron grey_jumbotron">
			 	<h1 class="imp_text">The Shaw Trust</h1>
			  	<p>The Shaw Trust is dedicated towards improving the lives of students around the world. Currently, the  
			  	Trust is focused on funding the development of helicopter pads on top of local high schools.</p>
			  	<div class = "cent_text">
			  		<p><a class="btn btn-primary btn-lg" href="https://www.shaw-trust.org.uk/" role="button" target = "_blank">Get involved with the Shaw Trust</a></p>
			  	</div>
			</div>
		</div>
		<div class="container">
			<div class="jumbotron grey_jumbotron">
			 	<h1 class="imp_text">The Chemboost Project</h1>
			  	<p>A collaboration with Cheng Foundation member <strong>Allen Zhang</strong>, in order to run the non-profit organization, Chemboost.net. The organization strives to boost millions of students' chemistry elo across the globe.</p>
			  	<div class = "cent_text">
			  		<p><a class="btn btn-primary btn-lg" href="http://chemboost.net/" role="button" target = "_blank">Visit Chemboost.net</a></p>
			  	</div>
			</div>
		</div>	
		<div class="container">
			<div class="jumbotron grey_jumbotron">
			 	<h1 class="imp_text">The Madduri Partnership</h1>
			  	<p>A partnership with fellow billionaire <strong>Sathvik Madduri</strong> to find the rarest artificats in existence. The partnership is responsible for the discovery of the Rosetta Stone and a multitude of other ancient works.</p>
			  	<div class = "cent_text">
			  		<p><a class="btn btn-primary btn-lg" href="http://events.pennwell.com/dtech2017/public/SpeakerDetails.aspx?FromPage=Speakers.aspx&ContactID=73566" role="button" target="_blank">Learn more about the partnership</a></p>
			  	</div>
			</div>
		</div>
		<div class="container">
			<div class="jumbotron grey_jumbotron">
			 	<h1 class="imp_text">The Cheng Grant Organization</h1>
			  	<p>An organization providing financial grants to low-income students (annual incomes less than  $100 million) in our communities. Applications are reviewed by the Cheng Grant Committee and are very competitive.</p>
			  	<div class = "cent_text">
			  		<p><a class="btn btn-primary btn-lg" href="donations.html" role="button">Apply for a Cheng Grant</a></p>
			  	</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<h5 class="cent_text no_pad">Created by Pranav Sriram | The Cheng Foundation Copyright 2017: <a href="index.html"> ChengFoundation.us </a></h5>
			</div> 
		</footer>
	</body>
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>